#ball {
   position: absolute;
   left: 0%;
   top: 45%;
   height: 100px;
   width: 100px;
   border-radius: 100%;
   background-color: blue;
   /* animation: ball 2s linear infinite alternate; */
}

@keyframes ball {
   0%{
      left: 0%;
   }
   100%{
      left: calc(100% - 100px);
   }
}